*.class

# Package Files #
# *.jar #
*.war
*.ear
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.lock
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.mylyn/repositories.xml.zip
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/2d/0054fdc6a49f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/56/908098cea49f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/b7/f06e4da3a49f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/d6/506ffff4a49f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.projects/ChangeCounter/.indexes/af/history.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.projects/ChangeCounter/.indexes/e4/81/2b/a0/50/fc/5a/b5/history.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.projects/ChangeCounter/.markers.snap
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.projects/ChangeCounter/.syncinfo.snap
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.snap
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.configurator.prefs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/1115467115.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/1498219845.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/163172794.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/1697886153.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/1818563445.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/1995173708.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/2681375223.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/305854171.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/3065916431.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/30765161.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/3133528496.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/3974580528.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/4041092966.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/4108727661.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/4155206848.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/4173023868.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/4/14/refactorings.history
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/4/14/refactorings.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/ead8213bc6bc04fab6e26c4e9d5e216b/_0.cfs
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/ead8213bc6bc04fab6e26c4e9d5e216b/segments.gen
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/ead8213bc6bc04fab6e26c4e9d5e216b/segments_2
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.m2e.core/nexus/ead8213bc6bc04fab6e26c4e9d5e216b/write.lock
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.team.cvs.core/.running
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/version.ini
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/ChangeCounter/src/com/uniandes/gaudi/change/counter/analyzer/service/ModificationService.java
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.mylyn/.taskListIndex/segments.gen
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.mylyn/.taskListIndex/segments_1
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.mylyn/tasks.xml.zip
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/2b/c0ef08b9af9f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/8d/a0e664f1a89f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.core.resources/.history/c8/903122d5ae9f00121acfdb5d843c2d9c
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/ChangeCounter/2013/4/14/refactorings.history
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/ChangeCounter/2013/4/14/refactorings.index
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Conceptos Avanzados Ingenieria Software/TSP/Ciclo I/Codigo/ChangeCounter/.settings/org.eclipse.jdt.ui.prefs
